body {
	background: #1C1C1C;
	margin-top: 10px;
	padding: 0;
	font: 1em/1.5em Verdana, sans-serif;
	
	font-size: 12px;
	color: black;
	text-align: justify;
	scrollbar-arrow-color: #silver;
	scrollbar-base-color: #555555;
	scrollbar-track-color: #000000;
	scrollbar-highlight-color: silver;
	scrollbar-shadow-color: silver;
}

h1, h2, h3, h4, h5 {
	color: #363636;
	background-color: transparent;
	text-shadow: 0px 2px 3px #555;
}

label {
	width: 100px;
	display: block;
	float: left;
}

a {
	color: #800000;
}

#container {
	background: #1C1C1C url("../image/stoneBeige.jpg") repeat right bottom;
	width: 100%;
	border-style: dotted;
	border-width: 2px;
	border-color: green;
}

#menuUp {
	width: 100%;
	margin: 1px auto 1px auto;
	padding: 0px;
	height: 28px;
}

#menuUp ul,ul li {
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
}

#menuUp ul {
	border-bottom: 1px solid #888;
	float: left;
	width: 100%;
	padding-left: 1px;
}

#menuUp ul li {
	float: left;
	margin-right: 0px;
}

#menuUp ul a:link,#menuUp ul a:visited {
	text-decoration: none;
	display: block;
	background-color: #ccc;
	padding: 5px 18px;
	border: 1px solid #888;
	position: relative;
	top: 1px;
	color: #333333;
	border: 2px outset #ccc;
	box-shadow: #6a3d37 5px 5px 6px;
	border-radius: 4px;
}

#menuUp ul a:hover {
	background-color: white;
	border-bottom-color: #fff;
}

#menuLeft {
	width: 100%;

}

#menuLeft ul {
	color: #222222;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	list-style: none;
	font: bold small-caps 10px Verdana, sans-serif;
}

#menuLeft li {
	display: inline;
	background-color: gray;
}

#menuLeft a {
	display: block;
	height: 24px;
	margin: 1px 5px 5px 5px;
	padding: auto;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
	font: bold small-caps 12px Verdana, sans-serif;
	color: #333333;
	padding: 5px;
	border: 4px outset #ccc;
	box-shadow: #6a3d37 5px 5px 6px;
	border-radius: 10px;
}

#menuLeft a:hover {
	border-style: inset;
	padding: 7px 3px 3px 7px;
}

#menuLeft a.buttonNote{
	background: url("../image/icon_note_menu.gif") no-repeat right;
}

#menuLeft a.buttonContact{
	background: url("../image/icon_contact_menu.gif") no-repeat right;
}

#menuLeft a.buttonDiary{
	background: url("../image/icon_diary_menu.gif") no-repeat right;
}

#menuLeft a.buttonTeam{
	background: url("../image/icon_team_menu.gif") no-repeat right;
}

#menuLeft a.buttonEvent{
	background: url("../image/icon_event_menu.gif") no-repeat right;
}

#menuLeft a.buttonTask{
	background: url("../image/icon_task_menu.gif") no-repeat right;
}

#menuLeft a.buttonCalculator{
	background: url("../image/icon_calculator_menu.gif") no-repeat right;
}
#menuLeft a.buttonCalendar{
	background: url("../image/icon_calendar_menu.gif") no-repeat right;
}
#menuLeft a.buttonExchange{
	background: url("../image/icon_exchange_menu.gif") no-repeat right;
}
#menuLeft a.buttonWeather{
	background: url("../image/icon_weather_menu.gif") no-repeat right;
}

#menuLeft #logged {
	margin: 75px 5px 5px 5px;
	margin-bottom: 0px;
	position: center;
	color: #363636;
	border-style: dashed;
	border-width: 1;
	border-color: #808080;
}

#menuLeft p {
	clear: both;
	text-align: left;
	margin: auto auto auto 15px;
	font: 12px Verdana, sans-serif;
}

#contentsBody {
	color: green;
	width: 100%;
	min-height: 480px;
	margin: 5px 5px auto 5px;
	padding: 0px;
}

#footer {
	width: 100%;
	height: 12px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	color: #363636;
	font: italic small-caps 10px Verdana, sans-serif;
}

#boxHelloRegister {
	position: center;
	margin-top: auto;
	padding: auto;
	color: #363636;
	text-align: center;
	border-style: dashed;
	border-width: 1;
	border-color: #808080;
}

#boxHello {
	position: center;
	margin-top: auto;
	padding: auto;
	width: 100%;
	height: 100%;
	color: #363636;
	text-align: center;
	border-style: dashed;
	border-width: 1;
	border-color: #808080;
}

#boxHello #title {
	position: center;
	margin: 50 auto auto auto;
	padding: auto;
	width: 400px;
	height: 30px;
	color: #363636;
	text-align: center;
	border-style: solid;
	border-width: 1;
	border-color: #BBBBBB;
}

#boxHello #element {
	float: left;
	position: center;
	margin: 5px auto auto 27;
	padding: auto;
	width: 140px;
	color: #363636;
	text-align: center;
	border-style: solid;
	border-width: 1;
	border-color: #BBBBBB;
}

#boxHello h1 {
	font: bold 24px Verdana, sans-serif;
}

#boxHello h2 {
	font: 18px Verdana, sans-serif;
	border-style: solid;
	border-width: 1;
	border-color: #BBBBBB;
}

#boxHello h3 {
	font: italic bold 16px Verdana, sans-serif;
	text-align: left;
}

#boxHello p {
	clear: both;
	font: 12px Verdana, sans-serif;
}

#boxHello #p2 {
	clear: both;
	text-align: left;
	margin: auto auto auto 15px;
	font: 12px Verdana, sans-serif;
}

div.welcome{
	background: url("../image/watch.gif") no-repeat center bottom;
	height: 480px;
	width: auto;
}

#boxAbout {
	position: center;
	margin-top: auto;
	padding: auto;
	width: 100%;

	color: #363636;
	text-align: center;
	border-style: dashed;
	border-width: 1px;
	border-color: #808080;
}

#boxAbout h1 {
	font: bold small-caps 16px Verdana, sans-serif;
	text-decoration: underline;
}

#boxAbout h2 {
	font: bold small-caps 16px Verdana, sans-serif;
}

#boxAbout p {
	margin-left: 15px;
}


<!--
OGOLNE -->a {
	text-decoration: none;
	padding: auto;
}

h1, h2, h3, h4, h5{
color: #333333;
font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;

}

input {
	margin: auto;
	padding: auto;
}

input.buttonAdd {
	background: #363636 url("../image/icon_add.gif") no-repeat right;
	text-align: right;
	padding: 9px 17px 9px 9px;
	color: yellow;
}

input.buttonAdd:hover {
	color: red;
	border-style: inset;
}

input.buttonCancel {
	background: #FF0000 url("../image/icon_close.gif") no-repeat right;
	text-align: center;
	padding: 8px 18px 8px 8px;
	color: white;
}

input.buttonCancel:hover {
	background: #FF0000 url("../image/icon_delete.gif") no-repeat right;
	color: yellow;
	text-decoration: underlined;
	text-weigth: bold;
	border-style: inset;
	border: 1px solid black;
}

input.buttonNavigation {
	background: #99CC66;
	text-align: center;
	color: black;
	padding: 7px;
}

input.buttonNavigation:hover {
	background-color: #99FF66;
	border-style: inset;
}

input.buttonAction {
	background: #6666CC url("../image/icon_action.gif") no-repeat right;
	text-align: center;
	color: #FFFFCC;
	padding: 7px;
}

input.buttonAction:hover {
	color: yellow;
	border-style: inset;
}

a.buttonAction {
	background: #363636 url("../image/icon_action.gif") no-repeat right;
	text-align: right;
	padding: 13px 15px 3px 3px;
	color: yellow;
}

a.buttonAction:hover {
	color: red;
	border-style: inset;
}

a.buttonFind {
	background: #363636 url("../image/icon_find.gif") no-repeat right;
	text-align: right;
	padding: 3px 20px 3px 3px;
	color: white;
	padding: 3px 20px 3px 3px;
}

a.buttonFind:hover {
	color: green;
	border-style: inset;
}

a.buttonAdd {
	background: #363636 url("../image/icon_add.gif") no-repeat right;
	text-align: right;
	padding: 10px 15px 10px 10px;
	color: yellow;
}

a.buttonAdd:hover {
	color: red;
	border-style: inset;
}

input.buttonBack {
	background: #363636 url("../image/icon_back.gif") no-repeat left;
	width: 80px;

	text-align: right;
	padding: 10px 15px 10px 10px;
	color: white;
}

input.buttonBack:hover {
	background-color: #666666;
	border-style: inset;
}

select {
	color: white;
	background: #444444;
	box-shadow: #6a3d37 5px 5px 6px;
}

select.kind {
	color: white;
	background: #444444;
	box-shadow: #6a3d37 5px 5px 6px;
}

select.kind option {
	height: 20px;
}

<!--
FORMULARZE -->div.form {
	color:black;
	margin: 20px auto auto 50px;
	width: 100%;
	height: auto;
	background: #9C9C9C;
	position: relative;
	border: 1px solid #262626;
	background: #9C9C9C url("../image/stoneLight.jpg") repeat fixed right
		bottom;
}

div.form textarea {
	width: 100%;
	height: 200px;
	border: 1px solid #000000;
	background-color: #CCCCCC;
}

div.form textarea.big {
	width: 98%;
	height: 350px;
}
	
div.form h1 {
	color: black;
	font-size: 14px;
	padding: 5px 0 5px 5px;
	border-bottom: 1px solid #161712;
	border-top: 1px solid #161712;
}

div.form label {
	width: 100%;
	height: 16px;
	color: #333333;
	display: block;
	border: 1px dashed #666666;
	padding: 2px;
}

div.form label span {
	display: block;
	color: black;
	font-size: 12px;
	float: left;
	width: 100px;
	text-align: right;
	padding: 5px 20px 0 0;
}

div.form .inputSimple {
	margin: 1px;
	color: black;
	padding: 2px;
	width: 200px;
	height: 26px;
	background: #CFCFCF;
	border: 1px dotted #4C3C1B;
	color: black;
}

div.form .button {
	margin-top: 10px;
	margin-left: 50px;
	-moz-box-shadow: inset 0px -1px 0px 0px #ffffff;
	-webkit-box-shadow: inset 0px -1px 0px 0px #ffffff;
	box-shadow: inset 0px -1px 0px 0px #ffffff;
	background-color: #CCCCCC;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	border: 1px solid #999966;
	display: inline-block;
	color: #4d4d4d;
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 33px 10px 33px;
	text-decoration: none;
}

div.form .button:hover {
	background-color: #dcdcdc;
	border-style: inset;
	color: black;
}

div.form .button:active {
	position: relative;
	top: 1px;
}

div.form .input #buttonLogin {
	color: red;
}

<!--
KALENDARZ -->#calendar {
	margin: 40px 40px auto 40px;
	border: 1px dashed #777777;
	padding: 5;
}

#calendar a:link,#calendar a:visited {
	width: auto;
	height: 50;
	margin: auto;
	text-decoration: none;
	display: block;
	background-color: #ccc;
	color: #000;
	padding: auto;
	border: 1px solid #888;
	position: relative;
	top: 1px;
}

#calendar a:hover {
	background-color: white;
	border-bottom-color: #fff;
}

#calendar #navigation {
	color: white;
	width: auto;
	height: auto;
	background: yellow;
	border-bottom-color: #444444;
}

#calendar #navigation a {
	width: auto;
	height: 20px;
	color: white;
	background: #BBBBBB;
	border-bottom-color: #444444;
}

#calendar #navigation a:link,#calendar #navigation a:visited {
	
}

#calendar #navigation a:hover {
	color: white;
	background: #BBBBBB;
	border-bottom-color: #444444;
}

#calendar table {
	display: table;
	width: 98%;
	font: 150%/1.5em "Lucida Grande", Geneva, "DejaVu Sans",
		"Bitstream Vera Sans", AnjaliOldLipi, "Lucida sans", "Trebuchet MS",
		Arial, Verdana;
	text-align: center;
	border: 4px black double;
	border-spacing: 0;
	-moz-border-radius: 12px;
	-moz-box-shadow: #6a3d37 5px 5px 6px;
	-webkit-border-radius: 12px;
	-webkit-box-shadow: #6a3d37 5px 5px 6px;
	border-radius: 12px;
	box-shadow: #6a3d37 5px 5px 6px;
	background: #AAAAAA
}

#calendar th {
	width: auto;
	color: #CCCCCC;
	font-size: 110%;
	text-shadow: #6a3d37 2px 2px 2px
}

#calendar     th:first-of-type {
	font-weight: bold;
	font-style: italic
}

#calendar tr:nth-child(odd) {
	color: black;
	background: #888888
}

#calendar tr:nth-child(even) {
	color: #111111
}

#calendar th:first-of-type,#calendar td:first-of-type {
	padding: 0 0 0 0
}

#calendar th:last-of-type,#calendar td:last-of-type {
	padding: 0 0 0 0
}

#calendar tr:nth-last-child(-n+2) {
	opacity: .75
}

#calendar tr:nth-child(2) {
	text-shadow: #FFCC66 0 0 8px;
	font-weight: bold;
	font: 1em/1.5em Verdana, sans-serif;
	font-size: 18px;
}

#calendar td {
	width: 14%;
}

#calendar span.saturday {
	color: #888888;
}

#calendar span.sunday {
	color: #888888;
}

#calendar span.today {
	color: red;
	font-weight: bold;
}

#calendar #diaryNote {
	background: url("../image/icon_pen.gif") no-repeat;
}

#calendar #diaryAction {
	background: url("../image/icon_clock.gif") no-repeat 0px 0px;
}

#calendar #diaryActionPast {
	background: url("../image/icon_clock_alert.gif") no-repeat 0px 0px;
}

#calendar #selectList {
	float: left;
	color: white;
	background: #444444;
	margin: 5;
	box-shadow: #6a3d37 5px 5px 6px;
}

<!--
NOTATKI -->div.note {
	margin: auto;
	background: url("../image/icon_note.gif") no-repeat 90px 10px;
}

div.note #element {
	width: 96%;
	height: auto;
	margin-bottom: 3px;
	background: #FFFF99;
	border: 1px solid #888;
	color: #333333;
}

div.note #element table {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px gray solid;
	border-spacing: 1;
}

div.note #element th {
	text-align: left;
	border: 1px gray dashed;
	border-spacing: 1;
	border: 1px gray dashed;
}

div.note #element td {
	text-align: left;
	border: 1px #ADFF2F dashed;
	border-spacing: 1;
	text-align: left;
}
   
div.note #element tr.header {
	height: 10px;
}

div.note #element th {
	height: 50px;
}

div.note #element:hover {
	background-color: white;
	border-bottom-color: #fff;
}

<!--
KONTAKTY -->div.contact {
	overflow: auto;
	height: 100%;
	margin: auto;
	background: url("../image/icon_contact.gif") no-repeat 90px 10px;
	margin: auto;
}

div.contact #element {
	float: left;
	width: 95%;
	height: 34px;
	margin: auto;
	padding: 4px;
	background: #CCFFFF;
	border: 1px solid #888;
	border-radius: 12px;
	color: #333333;
	background: #CCFFFF;
}

div.contact #element table {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px gray solid;
	border-spacing: 1;
}

div.contact #element td {
	height: 10px;
	padding: 4px;
	text-align: left;
	border: 1px #668B8B dashed;
	border-spacing: 1;
	text-align: left;
}

div.contact #element td.login {
	background: url("../image/icon_people.gif") no-repeat right;
	width: 70%;
	color: #1C1C1C;
}

div.contact #element td.add {
	color: green;
	background: url("../image/icon_add.gif") no-repeat right;
}

div.contact #element td.delete {
	background: url("../image/icon_delete.gif") no-repeat right;
}

div.contact #element td a {
	color: #333333;
}

div.contact #element:hover {
	background-color: white;
	border-bottom-color: #fff;
}

<!--
DRUZYNY -->div.team {
	margin: auto;
	background: url("../image/icon_team.gif") no-repeat 90px 10px;
}

div.team #element {
	float: left;
	width: 95%;
	min-height: 25px;

	margin: auto;
	background: #CCCC66;
	border: 1px solid #888;
	border-radius: 12px;
	color: #333333;
}

div.team #description {
	float: left;
	text-align: center;
	width: 100px;
	height: auto; padding 15px;
	margin: 1px;
	background: #CCCC99;
	border: 1px dotted black;
	color: black;
}

div.team #element table {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px gray solid;
	border-spacing: 1;
}

div.team #element td {
	height: 10px;
	text-align: left;
	border: 1px #668B8B dashed;
	border-spacing: 1;
	text-align: left;
}

div.team #element td.name {
	background: url("../image/icon_people.gif") no-repeat right;
	width: 70%;
	color: #1C1C1C;
}

div.team #element td.admin {
	background: url("../image/icon_cup.gif") no-repeat right;
	width: 70%;
	color: #1C1C1C;
}

div.team #element td a {
	color: #363636;
}

div.team #element:hover {
	background-color: white;
	border-bottom-color: #fff;
}

<!--
WYDARZENIA -->div.action {
	margin: auto;
}

div.action .event {
	background: url("../image/icon_event.gif") no-repeat 10px 10px;
}

div.action .task {
	background: url("../image/icon_task.gif") no-repeat 10px 10px;
}

div.action .cal {
	background: url("../image/icon_calendar.gif") no-repeat 10px 10px;
}

div.action #element {
	float: left;
	width: 95%;
	height: auto;
	margin: 5px;
	background: #99CC99;
	border: 1px solid #888;
	color: black;
}

div.action #element table {
	margin: 0;
	width: 100%;
	height: 100%;
	text-align: center;
	border: 1px gray solid;
	border-spacing: 0px;
}

div.action #element th {
	text-align: left;
	border: 1px #668B8B dotted;
	border-spacing: 0px;
	font-weight: normal;
}

div.action #element th.name {
	text-align: center;
	font-weight: bold;
	color: #1C1C1C;
	border-color: #003300;
	border-style: solid;
}

div.action #element th.description {
	text-align: center;
	font-style: italic;
	color: #1C1C1C;
	height: 30px;
	border-color: black;
}

div.action #element th.date {
	background: url("../image/icon_clock.gif") no-repeat right;
}

div.action #element th.datePast {
	background: url("../image/icon_clock_alert.gif") no-repeat right;
}

div.action #element th.event {
	background: url("../image/icon_event_menu.gif") no-repeat right;
}

div.action #element th.task {
	background: url("../image/icon_task_menu.gif") no-repeat right;
}

div.action #element th.team {
	background: url("../image/icon_team_menu.gif") no-repeat right;
}

div.action #element th.priority {
	background: url("../image/icon_cup.gif") no-repeat right;
}

div.action #element th a {
	color: #363636;
}

div.action #element:hover {
	background-color: #99FF99;
	border-color: black;
}

<!--
DZIENNIK -->div.diary {
	margin: auto;
	background: url("../image/icon_diary.gif") no-repeat 90px 10px;
}

div.invitation {
	float: left;
	width: 400px;
	height: 34px;
	margin: auto;
	background: #CCFFFF;
	border: 1px solid #888;
	border-radius: 12px;
	color: #333333;
}

div.oneContact {
	padding: 45px;
	margin: 10 px;
	width: 120px;
	height: 200px;
	border: 1px solid #888;
	color: black;
}

div.oneContact span.title {
	color: #000066;
	font-weight: bold;
}

div.messageAlert {
	color: red;
	font-style: italic;
	width: 90%;
	border-top: 1px dotted #262626;
	border-bottom: 1px dotted #161712;
	padding: 2px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
}

div.messageGood {
	color: green;
	font-style: italic;
	width: 90%;
	border-top: 1px dotted #262626;
	border-bottom: 1px dotted #161712;
	padding: 2px;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, .5);
	border-top: 1px dotted #262626;
}

div.kindOfElement {
	margin: 5px;
	margin-left: 0px;
	color: black;
	background: #CCFF99;
	font-style: italic;
	width: 90%;
	border: 1px dashed #262626;
	padding: 5px;
	font-style: italic;
}

div.kindOfElement span {
	font-weight: bold;
	color: black;
	padding: 2px;
	border: 1px dashed red;
}